# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Environments
.env
.venv
env/
venv/

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Logs
log/
*.log

# Configurations
config.py
